In [8]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
from scipy import stats
pd.set_option('display.height', 1000)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [10]:
df = pd.read_csv('../data/german_credit.csv')

In [11]:
df.head()

   Creditability  Account Balance  Duration of Credit (month)  Payment Status of Previous Credit  Purpose  Credit Amount  Value Savings/Stocks  Length of current employment  Instalment per cent  Sex & Marital Status  Guarantors  Duration in Current address  Most valuable available asset  Age (years)  Concurrent Credits  Type of apartment  No of Credits at this Bank  Occupation  No of dependents  Telephone  Foreign Worker
0              1                1                          18                                  4        2           1049                     1                             2                    4                     2           1                            4                              2           21                   3                  1                           1           3                 1          1               1
1              1                1                           9                                  4        0           2799                     1                             3                    2                     3           1                            2                              1           36                   3                  1                           2           3                 2          1               1
2              1                2                          12                                  2        9            841                     2                             4                    2                     2           1                            4                              1           23                   3                  1                           1           2                 1          1               1
3              1                1                          12                                  4        0           2122                     1                             3                    3                     3           1                            2                              1           39                   3                  1                           2           2                 2          1               2
4              1                1                          12                                  4        0           2171                     1                             3                    4                     3           1                            4                              2           38                   1                  2                           2           2                 1          1               2

In [20]:
tab = pd.crosstab(df['Creditability'], df['Sex & Marital Status'], margins = True)
observed = tab.ix[:-1,:-1] 
stats.chi2_contingency(observed= observed)

/Users/marfaingchristelle/.pyenv/versions/2.7.12/envs/fairness_2.7.12/lib/python2.7/site-packages/ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

(9.6052139593360497,
 0.022238005469268771,
 3,
 array([[  15. ,   93. ,  164.4,   27.6],
        [  35. ,  217. ,  383.6,   64.4]]))

pval<0.05 so there is a significant relationship between the two variables